@media screen,handheld{
	body{
		background-color:black;
		font-family:"Helvetical", Arial, sans-serif;
	}

	h1{
		color: #5c88da;
		font-size: 75px;
		//margin-top 0px
	}
}

@media screen{
	#map-canvas{
		height: 625px;
		width: 1400px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		//margin-top: 50px;
	}
}

@media handheld{
	#map-canvas{
		height: 600px;
		width: 200px;
	}
}
