<!DOCTYPE html>
<html>
<head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbSW4XMaCsMs_8hnDsEy1DRCf19e1oUjM&sensor=true&libraries=places"></script>
</head>

<body>
<title>Where's the Bar?</title>

<h1>Where's the Bar?</h1>
<p>Right there. The nearest one is RIGHT. THERE.</p>

<div id="map-canvas"> </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/generateMap.js"></script>
</body>
<footer>
	<p>Note: your current location may not be exactly given by this app.</p>
</footer>
</html>
